<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.fjnu.edu.paint"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>
    <application
        android:name="cn.fjnu.edu.paint.system.PaintApplication"
        android:allowBackup="true"
        android:icon="@drawable/rm0"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name="cn.fjnu.edu.ui.activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.fjnu.edu.ui.activity.PaintMainActivity"
            android:label="@string/mainname" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cn.fjnu.edu.ui.activity.RecomActivity"
            android:icon="@drawable/app_rm"
            android:label="@string/apprecom" 
            android:screenOrientation="portrait">
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.fjnu.edu.paint.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_file_paths" />
        </provider>

    </application>

</manifest>